<h4 class="text-white">コメント欄</h4>
<div class="gm-comment">
  <% game.game_comments.each do |game_comment| %>
  <%= image_tag game_comment.user.get_profile_image(40,40),size: '40x40',class: "rounded-circle"; %>
  <%= game_comment.user.name %>
  <%= game_comment.comment %><%#= simple_format(game_comment.comment) %>
  <% if game_comment.user == current_user %>
  <div class="btn btn-outline-danger text-nowrap btn-sm">
    <%= link_to "削除", game_game_comment_path(game_comment.game, game_comment), method: :delete, remote: true, class: "text-danger text-right"; %>
  </div>
  <% end %>
  <div style="font-size:5px"; >
    <%= game_comment.created_at.strftime('%Y/%m/%d') %>
  </div>
  <% end %>
</div>