<h1 class="h1-tagu">Profile編集</h1>
<div class='container mt-5'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= form_with model: @user, local: true do |f| %>
        <div class="form-group">
          <%= f.label :Name, class: "text-white mt-3" %>
          <%= f.text_field :name, class: "form-control name mt-1" %>
        </div>
        <div class="form-group">
          <%= f.label :Profile画像, class: "text-white mt-4" %>
          <%= f.file_field :profile_image, class: "form-control-file user_image text-white mt-1", accept: 'image/*' %>
        </div>
        <div class="form-group">
          <%= f.label :自己紹介, class: "text-white mt-4" %>
          <%= f.text_area :introduction, class: "form-control introduction mt-1" %>
        </div>
        <div class="form-group">
          <%= f.submit "変更を保存", class: 'btn btn-secondary mt-3 mb-3' %>
        </div>
      <% end %>
    </div>
  </div>
</div>