<h1 class="h1-tagu">Game</h1>
<button class="tag-name">
    <i class="fas fa-tags"></i>タグ一覧で検索
</button>
<%= form_tag games_path, method: :get, class: 'boards__searchForm' do %>
<div class="row">
    <div class="tag-box1">
        <% @tags.each do |tag| %>
            <%= link_to tag.name, games_path(name: tag.id), class: 'text-white' %>
        <% end %>
    </div>
    <div class="tag-box2">
        <%= link_to "・全てのゲーム", games_path, class: 'text-white mb-2' %>
    </div>
</div>
<% end %>
<div class="container">
    <div class="row">
        <div class="page-color mb-2">
            <%= paginate(@games) %>
        </div>
    </div>
</div>
<div class="texts-wrapper">
    <div class="row">
        <% @games.each do |game| %>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="game-card rounded text-center">
                <%= link_to game_path(game.id) do %>
                <h4><%= game.title %></h4>
                <% end %>
                評価
                <div id="star-rate-<%= game.id %>"></div>
                <script>
                    $('#star-rate-<%= game.id %>').empty();
                        $('#star-rate-<%= game.id %>').raty({
                        size: 36,
                        starOff:  '<%= asset_path('star-off.png') %>',
                        starOn : '<%= asset_path('star-on.png') %>',
                        starHalf: '<%= asset_path('star-half.png') %>',
                        half: true,
                        readOnly: true,
                        score: '<%= game.star %>',
                    });
                </script>
                <i class="fas fa-user"></i> <%= game.user.name %> : <i class="fas fa-heart"></i><%= game.favorites.count %>
            </div>
        </div>
        <% end %>
    </div>
</div>
