<h1>新規ゲームレビュー</h1>
<%= form_with model:@game, local:true do |f| %>

<%= f.label :タイトル %>
<%= f.text_field :title %>

<%= f.label :レビュー %>
<%= f.text_area :body %>



   <%#= f.label :star,'評価', class:"" %>
   <%#= f.hidden_field :star, id: :game_star %>


<!-- 星評価javascript -->
  <!--<script>-->
  <!--$('#star').raty({-->
  <!--  size     : 36,-->
  <!--  starOff:  '<%#= asset_path('star-off.png') %>',-->
  <!--  starOn : '<%#= asset_path('star-on.png') %>',-->
  <!--  starHalf: '<%#= asset_path('star-half.png') %>',-->

  <!--  scoreName: 'game[star]',-->
  <!--  half: true,-->
  <!--});-->
  <!--</script>-->

<%= f.submit '投稿' %>

<% end %>