<h1 class="h1-tagu">New レビュー</h1>
<div class="errors-text">
  <% if @game.errors.any? %>
  <%= @game.errors.count %>件のエラーが発生しました
  <ul>
    <% @game.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<div class="card-list-container py-5">
  <div class="card w-50 mx-auto shadow-lg">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <%= form_with model:@game, local:true do |f| %>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :レビュー %>
              <%= f.text_area :body, class: 'form-control' %>
            </div>
            <div id="star">
              <%= f.label :star, '評価' %>
              <%= f.hidden_field :star, id: :game_star %>
            </div>
            <script>
            // 戻るボタンで戻っても星が増えない記述
              $('#star').empty();
              // 星評価javascript
              $('#star').raty({
                size     : 36,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'game[star]',
                half: true,
              });
            </script>
            <!--タグ付け、ジャンル機能-->
              <div class='form-group'>
                <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                  <div class='form-check form-check-inline'>
                    <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <%= f.submit 'レビューする', class: "btn btn-outline-primary mt-3 text-dark" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>