<h1>ゲームレビュー詳細</h1>

<%= @game.title %>

<%= @game.body %>

<!--コメント投稿欄-->

<!--いいねボタン-->

<%= @game.created_at.strftime('%Y/%m/%d') %>


<% if @game.user == current_user %>
<%= link_to '編集', edit_game_path(@game) %>
<%= link_to '削除', game_path(@game), method: :delete, data: { confirm: '本当に削除しますか？' } %>
<% end %>