<h1 class="h1-tagu">ゲームレビュー詳細</h1>
<div class="card-list-container py-5">
  <div class="card w-50 shadow-lg">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <h4><%= @game.title %></h4><br>
          <%= @game.body %>
          <!--星レビュー表示-->
          <div id="star-rate-<%= @game.id %>"></div>
          <script>
            $('#star-rate-<%= @game.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: '<%= @game.star %>',
            });
          </script>
          <!--コメントの数-->
          <%= @game.game_comments.count %>件のコメント<br>
          <!--いいねボタンの部分テンプレート-->
          <div id="favorites_<%= @game.id %>">
            <%= render "favorites/favorites", game: @game %>
          </div>
          <!--投稿日時-->
          <%= @game.created_at.strftime('%Y/%m/%d') %>
          <% if @game.user == current_user %>
            <button type="button" class="btn btn-outline-info">
              <%= link_to '編集', edit_game_path(@game), class: "text-info"; %>
            </button>
            <button type="button" class="btn btn-outline-danger">
              <%= link_to '削除', game_path(@game), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "text-danger"; %>
            </button>
          <% end %>
        </div>
        <div class="col-12">
          <% @game.game_comments.each do |game_comment| %>
    <%= image_tag game_comment.user.get_profile_image(40,40),class: "rounded-circle"; %>
    <%= game_comment.user.name %>
    <%= game_comment.created_at.strftime('%Y/%m/%d') %><%= game_comment.comment %>
    <% if game_comment.user == current_user %>
      <%= link_to "削除", game_game_comment_path(game_comment.game, game_comment), method: :delete %>
    <% end %>
  <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-5">
      <!--コメント機能-->
      <%= form_with model: [@game, @game_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメント記入欄" %>
        <%= f.submit "送信" %>
      <% end %>
    </div>
  </div>
</div>
