<h1>ゲームレビュー詳細</h1>

<%= @game.title %>

<%= @game.body %>

<!--星レビュー表示-->
                <div id="star-rate-<%= @game.id %>"></div>
                <script>
                  $('#star-rate-<%= @game.id %>').raty({
                    size: 36,
                    starOff:  '<%= asset_path('star-off.png') %>',
                    starOn : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half: true,
                    readOnly: true,
                    score: '<%= @game.star %>',
                  });
                </script>

<!--コメント投稿欄-->

<!--いいねボタン-->

<%= @game.created_at.strftime('%Y/%m/%d') %>


<% if @game.user == current_user %>
<%= link_to '編集', edit_game_path(@game) %>
<%= link_to '削除', game_path(@game), method: :delete, data: { confirm: '本当に削除しますか？' } %>
<% end %>