<!DOCTYPE html>
<html>
  <head>
    <title>GMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/18b1cc652d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>GMS</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li style="--clr:#7fff7f">
                <%= link_to user_path(current_user) do %>
                <object><a data-text="Mypage">Mypage</a></object>
                <% end %>
              </li>

              <!--aタグをobjectタグで囲むとlink_toを使える-->
              <li style="--clr:#7fbfff">
                <%= link_to users_path do %>
                <object><a data-text="User">User</a></object>
                <% end %>
              </li>
              <li style="--clr:#ff7fbf">
                <%= link_to games_path do %>
                <object><a data-text="Game">Game</a></object>
                <% end %>
              </li>
              <li style="--clr:#ffbf7f">
                <%= link_to new_game_path do %>
                <object><a data-text="New">New</a></object>
                <% end %>
              </li>
              <li style="--clr:#bf7fff">
                <%= link_to destroy_user_session_path, method: :delete do %>
                <object><a data-text="LogOut">Logout</a></object>
                <% end %>
              </li>

              <% else %>
              <li style="--clr:#ff7fbf">
                <%= link_to games_path do %>
                  <object><a data-text="Game">Game</a></object>
                <% end %>
              </li>
              <li style="--clr:#bf7fff">
                <%= link_to new_user_registration_path do %>
                  <object><a data-text="&nbsp;SignUp">&nbsp;Signup&nbsp;</a></object>
                <% end %>
              </li>
              <li style="--clr:#bf7fff">
                <%= link_to new_user_session_path do %>
                 <object><a data-text="&nbsp;SignIn">&nbsp;Signin&nbsp;</a></object>
                <% end %>
              </li>
              <!--<li>-->
              <!--  <%#= link_to user_path(current_user),class: 'nav-link text-light mr-5' do %>-->
              <!--  <i class="fas fa-home home"></i>-->
              <!--  <%# end %>-->
              <!--</li>-->
              <!--<li>-->
              <!--  <%#=  link_to users_path,class: 'nav-link text-light mr-5' do %>-->
              <!--  <i class="fas fa-users user"></i>-->
              <!--  <%# end %>-->
              <!--</li>-->
              <!--<li>-->
              <!--  <%#=  link_to games_path ,class: 'nav-link text-light mr-5' do %>-->
              <!--  <i class="fas fa-gamepad game"></i>-->
              <!--  <%# end %>-->
              <!--</li>-->
              <!--<li>-->
              <!--  <%#= link_to new_game_path, class: 'nav-link text-light mr-5' do %>-->
              <!--  <i class="far fa-plus-square plus"></i>-->
              <!--  <%# end %>-->
              <!--</li>-->
              <!--<li>-->
              <!--  <%#= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light mr-5' do %>-->
              <!--  <i class="fas fa-sign-out-alt logout"></i>-->
              <!--  <%# end %>-->
              <!--</li>-->

              <!--<%# else %>-->
              <!--<li>-->
              <!--  <%#= link_to games_path, class: 'nav-link text-light mr-5' do %>-->
              <!--    <i class="fas fa-gamepad game"></i>-->
              <!--  <%# end %>-->
              <!--</li>-->
              <!--<li>-->
              <!--  <%#= link_to new_user_registration_path, class: 'nav-link text-light mr-5' do %>-->
              <!--    <i class="fas fa-user-plus signup"></i>-->
              <!--  <%# end %>-->
              <!--</li>-->
              <!--<li>-->
              <!--  <%#= link_to new_user_session_path, class: 'nav-link text-light mr-5' do %>-->
              <!--   <i class="fas fa-sign-in-alt login"></i>-->
              <!--  <%# end %>-->
              <!--</li>-->
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class='container'>
  	    <div class='row'>
    	    <div class='mx-auto'>
    		    <div class="footer-text">© 2022 GMS</div>
    	    </div>
        </div>
      </div>
    </footer>
  </body>
</html>
